<!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">О НАС</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-plus"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto"><p class="lead">Все мы знаем, как сложно искать нужную информацию в интернете. Особенно сложно постановить диагноз какой-либо болезни. Тем более есть риск постановить неверный диагноз.</p></div>
                    <div class="col-lg-4 me-auto"><p class="lead">В "Skin Health Checker" мы попробовали решить эту проблему. Вам нужно лишь выбрать симптомы и нажать "Найти!". Наш сайт поможет вам легко и просто найти какое-либо кожное заболевание. </p></div>
                </div>
                <div class="row mt-5">
                    <div class ="col ms-auto"><strong>Внимание!</strong><p class="lead"> Не рекомендуем использовать информацию из данного раздела для самолечения. На сайте представлена информация для ознакомления с кожными заболеваниями. В случае боли или иного обострения заболевания диагностические исследования должен назначать только лечащий врач. Для правильного назначения лечения следует обращаться к врачу.</p></div>
                </div>
            </div>
        </section>