        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">ПОЧТА</h4>
                        <p class="lead mb-0">
                            kosenkov.n.p@mail.ru
                        </p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">соцсети</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://t.me/nikitakosp" target="_blank"><i class="fab fa-fw fa-telegram"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/nikitakosenkov" target="_blank"><i class="fab fa-fw fa-github"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">КОМАНДА</h4>
                        <p class="lead mb-0">
                            CEO, Разработчик - <a href="https://github.com/nikitakosenkov" target="_blank">Косенков Никита</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; skin-health-checker.ru 2025</small></div>
        </div>