{% extends 'base.html' %}
{% load static %}

{% block title %} Skin Health Checker {% endblock %}

{% block body %}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Найдите кожное заболевание по симптомам легко и быстро!</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-plus"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Появились проблемы с кожей, и вы не знаете, что это может быть? Попробуйте выбрать симптомы, и мы предложим вам возможные заболевания.</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Какие у вас симптомы?</h2>
                <p class="lead text-center font-weight-light mb-0 mt-3">Выберите до 5 симптомов.</p>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-plus"></i></div>
                    <div class="divider-custom-line"></div>
                </div>

                <div class="row mt-5">
                    <div class="container align-items-center justify-content-center">
                        <form name="symptoms-form" method="get" action="{% url 'main_app:search' %}">
                        {% for s in symptoms %}
                            <div class="row mx-auto" style="width: 70%">
                                {% for symptom in s %}
                                  <div class="col-md">
                                      <input name="{{ symptom.slug }}" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                      <label class="form-check-label" for="flexCheckDefault">
                                          <h5 class="font-weight-light">
                                              {{ symptom }}
                                          </h5>
                                      </label>
                                  </div>
                                {% endfor %}
                            </div>

                        {% endfor %}
                        <div class="text-center">
                            <button class="btn btn-primary btn-xl mt-5" id="submitSymptomButton" type="submit">Найти!</button>
                            <a class="btn btn-xl btn-outline-primary mt-5" href="{% url 'main_app:search_all' %}">Все заболевания</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
